<div>
  <h2>Theory</h2>
  <h3>Components</h3>
  <p>1. What is a component?
    The simplest answer is that component is just a simple controller for the user interface.
    It is a typescript class wich decorated with @Component decorator, the most important thing is that it
    allows us to bind data from this typescript file to the html template.</p>
  <p>2. What is data-binding?
    We can bind any html attribute with our ts class by puting it to [] and define a variable for seting
    property to it, also we can use prentasses to bind some event with ts class by passing a function
    that will be defined in ts to handle this event.</p>
  <p>3. What is Directive?
    It's a component, but without template. 
    *ngIf *ngFor
    When you need to display different css classes conditionaly based on some logic in your typescript,
    you can use ngClass directive to control wich css class gets applyed to each title based on the
    name of the boat. You pass to the ngClass directive an object where left side is the css class 
    that you want to apply, and right side is an expression that resolves to true or false
  </p>
  <p>4. Pipes 
    Are always used in an interpolated value in html. There are many built in pipes (like namber, date) and also you 
  can check github repo angular-pipes</p>
  <p>What is Guard? 
    Guard - is a special angular service that has interface that we can implement to do some things 
    with routing. Most common case is to protect route from unathorized users 
  </p>
  </div>
  <app-home></app-home>